pipeline/incremental_ingestion_all.json
{
	"name": "incremental_ingestion_all",
	"properties": {
		"activities": [
			{
				"name": "ForEachDataLoad",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.inc_load_tables",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "AzSqlToLake",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Is_cdcOrBackDateLoad",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "setCurrentDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * \nFROM @{item().source.schema}.@{item().source.table} \nWHERE @{item().source.cdc_col} > '@{formatDateTime(variables('fromDate'), 'yyyy-MM-dd HH:mm:ss')}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_AzSqlDB",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_parquet_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().sink.container",
											"type": "Expression"
										},
										"layer": {
											"value": "@item().sink.layer",
											"type": "Expression"
										},
										"parqPath": {
											"value": "@concat(item().sink.sourceType,'/',item().source.table)",
											"type": "Expression"
										},
										"parqFile": {
											"value": "@concat(item().source.table,'_',variables('currentDate'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "IsDataLoaded",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "AzSqlToLake",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('AzSqlToLake').output.rowsRead,0) ",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "CopyToArchive",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ParquetSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "ParquetReadSettings"
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_parquet_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@item().sink.container",
														"type": "Expression"
													},
													"layer": {
														"value": "@item().sink.layer",
														"type": "Expression"
													},
													"parqPath": {
														"value": "@concat(item().sink.sourceType,'/',item().source.table)",
														"type": "Expression"
													},
													"parqFile": {
														"value": "@concat(item().source.table,'_',variables('currentDate'))",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_parquet_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@item().sink.container",
														"type": "Expression"
													},
													"layer": {
														"value": "@item().sink.layer",
														"type": "Expression"
													},
													"parqPath": {
														"value": "@concat(item().sink.sourceType,'/',item().source.table,'/','Archive')",
														"type": "Expression"
													},
													"parqFile": {
														"value": "@concat(item().source.table,'_',variables('currentDate'))",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "DeleteZeroDataFile",
										"type": "Delete",
										"dependsOn": [
											{
												"activity": "CopyToArchive",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "ds_parquet_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@item().sink.container",
														"type": "Expression"
													},
													"layer": {
														"value": "@item().sink.layer",
														"type": "Expression"
													},
													"parqPath": "@concat(pipeline().parameters.source,'/',pipeline().parameters.db_table)",
													"parqFile": "@concat(pipeline().parameters.db_table,'_',variables('currentDate'))"
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "GetLastLoadDate",
										"type": "Script",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "ls_AzSqlDb",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "SELECT MAX(@{item().source.cdc_col}) AS LastLoadDate FROM @{item().source.schema}.@{item().source.table}",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "UpdateCDC",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "GetLastLoadDate",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"additionalColumns": [
													{
														"name": "last_load_date",
														"value": {
															"value": "@activity('GetLastLoadDate').output.resultSets[0].rows[0].LastLoadDate",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_json_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@item().sink.container",
														"type": "Expression"
													},
													"layer": {
														"value": "@item().sink.layer",
														"type": "Expression"
													},
													"jsonPath": {
														"value": "@concat(item().sink.sourceType,'/',item().source.table,'/',item().source.table,'CDC')",
														"type": "Expression"
													},
													"jsonFile": "empty.json"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_json_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@item().sink.container",
														"type": "Expression"
													},
													"layer": {
														"value": "@item().sink.layer",
														"type": "Expression"
													},
													"jsonPath": {
														"value": "@concat(item().sink.sourceType,'/',item().source.table,'/',item().source.table,'CDC')",
														"type": "Expression"
													},
													"jsonFile": "cdc.json"
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "Is_cdcOrBackDateLoad",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@empty(item().source.from_date)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "SetFromDateFalse",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "fromDate",
											"value": {
												"value": "@item().source.from_date",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "GetCDC",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"dataset": {
												"referenceName": "ds_json_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@item().sink.container",
														"type": "Expression"
													},
													"layer": {
														"value": "@item().sink.layer",
														"type": "Expression"
													},
													"jsonPath": {
														"value": "@concat(item().sink.sourceType,'/',item().source.table,'/',item().source.table,'CDC')\n\n",
														"type": "Expression"
													},
													"jsonFile": "cdc.json"
												}
											},
											"firstRowOnly": false
										}
									},
									{
										"name": "SetFromDateTrue",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "GetCDC",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "fromDate",
											"value": {
												"value": "@activity('GetCDC').output.value[0].last_load_date",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "setCurrentDate",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "currentDate",
								"value": {
									"value": "@formatDateTime(utcNow(), 'yyyyMMddHHmmss')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"inc_load_tables": {
				"type": "array",
				"defaultValue": [
					{
						"source": {
							"schema": "dbo",
							"table": "DimUser",
							"cdc_col": "updated_at",
							"from_date": ""
						},
						"sink": {
							"container": "azureproject",
							"layer": "bronze",
							"sourceType": "azSqlDB"
						}
					},
					{
						"source": {
							"schema": "dbo",
							"table": "DimTrack",
							"cdc_col": "updated_at",
							"from_date": ""
						},
						"sink": {
							"container": "azureproject",
							"layer": "bronze",
							"sourceType": "azSqlDB"
						}
					},
					{
						"source": {
							"schema": "dbo",
							"table": "DimDate",
							"cdc_col": "date",
							"from_date": ""
						},
						"sink": {
							"container": "azureproject",
							"layer": "bronze",
							"sourceType": "azSqlDB"
						}
					},
					{
						"source": {
							"schema": "dbo",
							"table": "DimArtist",
							"cdc_col": "date",
							"from_date": ""
						},
						"sink": {
							"container": "azureproject",
							"layer": "bronze",
							"sourceType": "azSqlDB"
						}
					},
					{
						"source": {
							"schema": "dbo",
							"table": "FactStream",
							"cdc_col": "stream_timestamp",
							"from_date": ""
						},
						"sink": {
							"container": "azureproject",
							"layer": "bronze",
							"sourceType": "azSqlDB"
						}
					}
				]
			}
		},
		"variables": {
			"currentDate": {
				"type": "String"
			},
			"fromDate": {
				"type": "String"
			}
		},
		"annotations": []
	}
}