pipeline/incremental_ingestion.json
{
	"name": "incremental_ingestion",
	"properties": {
		"activities": [
			{
				"name": "AzSqlToLake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetLastCDC",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "setCurrentDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * \nFROM @{pipeline().parameters.db_schema}.@{pipeline().parameters.db_table} \nWHERE @{pipeline().parameters.db_col} > '@{activity('GetLastCDC').output.value[0].last_load_date}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_AzSqlDB",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_parquet_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"container": "azureproject",
							"layer": "bronze",
							"parqPath": "azSqlDB",
							"parqFile": {
								"value": "@concat(pipeline().parameters.db_table,'_',variables('currentDate'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "GetLastCDC",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_json_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"container": "azureproject",
							"layer": "bronze",
							"jsonPath": "cdc",
							"jsonFile": "cdc.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "GetMaxLoadingDate",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_AzSqlDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "setCurrentDate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentDate",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyyMMdd')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"db_schema": {
				"type": "string"
			},
			"db_table": {
				"type": "string"
			},
			"db_col": {
				"type": "string"
			}
		},
		"variables": {
			"currentDate": {
				"type": "String"
			}
		},
		"annotations": []
	}
}